.task1 .item {
  position: relative;
  left: 200px;
  top: 150px;
}

.task2 .item {
  position: relative;
}

.task3 .item {
  position: static;
}

.container4 {
}

.task4 {
  width: 1000px;
}
.task4 .item {

}

.task5 .item1 {
  background-color: red;
}
.task5 .item2 {
}
.task5 .item3 {
  background-color: green;
}

.task6 .item {
  float: left;
}

.task7 .item {
  float: right;
}

.task8 .item1 {
  float: none;
}
.task8 .item2 {
  height: 120px;
  float: none;
  position: relative;
  left: 670;
}

.task8 p {
}

.task9 .item1 {
  height: 200px;
  float: left;
}
.task9 .item2 {
  float: none;
  position: relative;
  left: 670;
}
.task9 p {
}

.task10 .item1 {
  float: none;
}
.task10 .item2 {
  float: right;
}
.task10 p {
}

.task11 .img-item {
  height: 100%;
  width: 100%;
}

.task12 .img-item {
  height: 100%;
  width: 100%;
}

.task13 .img-item {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.task14 .img-item {
  height: 100%;
  width: 100%;
}

.task15 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  background-position-x: right;
  background-position-y: center;
}

.task16 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
  background-position: left;
}

.task17 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task18 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task19 .img-item {
  height: 100%;
  width: 100%;
  object-fit: none;
}

.task20 {
  user-select: none;
}

.task21 {
}

.task22 {
  cursor: wait;
}

html {
  scroll-behavior: smooth;
}
